﻿/*!
Theme Name: Klay Schools
Theme URI: https://www.socialbeat.in/
Author: Haridasan
Author URI: https://www.socialbeat.in/
Description: Hi. I'm a full theme called <code>Klay Schools</code>, developed officially for Klay Schools dot com.
Version: 1.0
Text Domain: Klay Schools
*/
@font-face{
    font-family: 'AsparagusSprouts';
    src: url('fonts/AsparagusSprouts.eot');
    src: url('fonts/AsparagusSprouts.eot') format('embedded-opentype'),
         url('fonts/AsparagusSprouts.woff2') format('woff2'),
         url('fonts/AsparagusSprouts.woff') format('woff'),
         url('fonts/AsparagusSprouts.ttf') format('truetype'),
         url('fonts/AsparagusSprouts.svg#AsparagusSprouts') format('svg');
}
@font-face{
    font-family: 'GothamRoundedLight';
    src: url('fonts/GothamRoundedLight.eot');
    src: url('fonts/GothamRoundedLight.eot') format('embedded-opentype'),
         url('fonts/GothamRoundedLight.woff2') format('woff2'),
         url('fonts/GothamRoundedLight.woff') format('woff'),
         url('fonts/GothamRoundedLight.ttf') format('truetype'),
         url('fonts/GothamRoundedLight.svg#GothamRoundedLight') format('svg');
}
@font-face{
    font-family: 'GothamRoundedMedium';
    src: url('fonts/GothamRoundedMedium.eot');
    src: url('fonts/GothamRoundedMedium.eot') format('embedded-opentype'),
         url('fonts/GothamRoundedMedium.woff2') format('woff2'),
         url('fonts/GothamRoundedMedium.woff') format('woff'),
         url('fonts/GothamRoundedMedium.ttf') format('truetype'),
         url('fonts/GothamRoundedMedium.svg#GothamRoundedMedium') format('svg');
}
@font-face{
    font-family: 'GothamRoundedBook';
    src: url('fonts/GothamRoundedBook.eot');
    src: url('fonts/GothamRoundedBook.eot') format('embedded-opentype'),
         url('fonts/GothamRoundedBook.woff2') format('woff2'),
         url('fonts/GothamRoundedBook.woff') format('woff'),
         url('fonts/GothamRoundedBook.ttf') format('truetype'),
         url('fonts/GothamRoundedBook.svg#GothamRoundedBook') format('svg');
}
@font-face {
    font-family: 'PapayaSunriseD';
    src: url('fonts/PapayaSunriseD.eot');
    src: url('fonts/PapayaSunriseD.eot') format('embedded-opentype'),
         url('fonts/PapayaSunriseD.woff2') format('woff2'),
         url('fonts/PapayaSunriseD.woff') format('woff'),
         url('fonts/PapayaSunriseD.ttf') format('truetype'),
         url('fonts/PapayaSunriseD.svg#PapayaSunriseD') format('svg');
}

@font-face {
    font-family: 'GothamRoundedBold_0';
    src: url('fonts/GothamRoundedBold_0.eot');
    src: url('fonts/GothamRoundedBold_0.eot') format('embedded-opentype'),
         url('fonts/GothamRoundedBold_0.woff2') format('woff2'),
         url('fonts/GothamRoundedBold_0.woff') format('woff'),
         url('fonts/GothamRoundedBold_0.ttf') format('truetype'),
         url('fonts/GothamRoundedBold_0.svg#GothamRoundedBold_0') format('svg');
}
@font-face {
    font-family: 'Hand_Of_Sean_Demo';
    src: url('fonts/Hand_Of_Sean_Demo.eot');
    src: url('fonts/Hand_Of_Sean_Demo.eot') format('embedded-opentype'),
         url('fonts/Hand_Of_Sean_Demo.woff2') format('woff2'),
         url('fonts/Hand_Of_Sean_Demo.woff') format('woff'),
         url('fonts/Hand_Of_Sean_Demo.ttf') format('truetype'),
         url('fonts/Hand_Of_Sean_Demo.svg#Hand_Of_Sean_Demo') format('svg');
}

.bannerid0 .btn-banner{display:none;}

.hand_font{font-family: 'Hand_Of_Sean_Demo';}

.bannerid2 .banner-caption-holder {
    top: 47%;
}
.page-id-2 .swiper-slide{padding-top:20px;}
.asparagus{font-family: 'AsparagusSprouts'}
.gotham-rounded-light,.body-font{font-family: 'GothamRoundedLight'}
.gotham-rounded-medium,.sub-title-font{font-family: 'GothamRoundedMedium'}
.gotham-rounded-book,.section-sub-title-font{font-family: 'GothamRoundedBook'}
.gotham-rounded-bold {font-family: 'GothamRoundedBold_0';}
.papaya-sunrise{font-family: 'PapayaSunriseD'}
body{
    font-size:17px;
    font-family: 'GothamRoundedLight';
    font-weight: normal;
    font-style: normal;
    color:#333333;
}
a{
    outline:0;
    color:#14b9c5;
    transition:all 0.5s
}
a:hover,a:focus,a:active{
    outline:0;
    text-decoration:none;
    color:#ee5d73;
}
img{
    max-width:100%;
}
.container-fluid{
    padding-left:115px;
    padding-right:115px
}
li#klayvideo2 span,li#klayvideo2 i {
    color: #fff;cursor: pointer;
}
/* .bannerid0 .btn-banner{margin-left:30%;} */
.bannerid0 .btn-banner{margin-left:115%; margin-top:35% !important;}
.bannerid0 .btn-banner{display:block;}
.bannerid1 .btn-banner{display:none;}
.bannerid8 .btn-banner{margin-top:0% !important;}

.bannerid0 .banner-caption-holder {

    top: 47%; }
/* .bannerid2 .btn-banner{margin-left:25%;}*/
.bannerid2 .btn-banner{margin-top:15%;} 
.stricky_menu {
    position: fixed;
    width: 100%;
    z-index: 9999999;bottom: 0;
}
.stricky_menu .col a {

    width: 100%;
}
footer.copyrights.blue-bg.pt-30.pb-30.white-color {
    padding-bottom: 60px;
}
section.banner {
    margin-top: 5%;
}

li#mega-menu-21-0-4 ul li a ,li#mega-menu-21-0-2 ul li a{
    font-size: 14px !important;
}

li#klayvideo2 span {padding-left: 15px;}
.white-bg{background:#fff}
.white-color{color:#fff}
.yellow-bg{background:#fdbf13}
.yellow-color{color:#fdbf13}
.orange-bg{background:#f58233}
.orange-color{color:#f58233}
.blue-bg{background:#14b9c5}
.blue-color{color:#14b9c5}
.pink-bg{background:#ee5d73}
.pink-color{color:#ee5d73}
.green-bg{background:#b3ca2c}
.green-color{color:#b3ca2c}
.gray-bg{background-color: #e9e9e9}
.lightgray-bg{background-color: #f3f3f3}
.italic{font-style: italic;}
.site-logo{position:relative;top:15%;z-index:9999;}
.site-header{border-bottom:1px solid #80dde3;position:fixed;z-index:999;top:0;width:100%}
.admin-bar .site-header{top: 30px;}
.border-map{border:1.7px solid #7c7b77;}
.border-top-80dde3{border-top:1px solid #80dde3}
.secondary-menu{border-radius:0 0 8px 8px;line-height:35px}
.secondary-menu li{float:left;border-right:1px solid #fff;padding:0 15px;font-size:0}
.secondary-menu li:last-child{border-right:none}
.secondary-menu li a{color:#333;line-height:35px;font-size:14px}
.secondary-menu li a:hover,.secondary-menu li a:focus,.secondary-menu li a:active{color:#666}
.secondary-menu li a span{line-height:16px;vertical-align:middle}
.main-menu>li{float:left;padding:0 15px;position:relative}
.main-menu>li:first-child{padding-left:0}
.main-menu>li:last-child{padding-right:0}
.main-menu>li>a{line-height:45px;color:#fff;position:relative}
.main-menu>li>a:before{content:'';width:0;position:absolute;height:2px;top:calc(100% + 5px);left:0;transition:all 0.3s;background:#ffd800;border-radius:5px}
.main-menu>li:hover>a:before{width:100%}
.main-menu>li:hover>a{color:#ffd800}
.banner-caption span{font-family:'GothamRoundedLight'}
.banner-caption-holder{position:absolute;z-index:99;top:58%;left:0;width:100%;transform:translateY(-50%)}
.title-holder{position:absolute;bottom:0;left:0;width:100%}
.btn-banner,.btn-normal{background:url('images/btn-normal.png');background-position:top;width:207px;height:51px;background-repeat:no-repeat;display:inline-block;font-size:16px;font-family: 'GothamRoundedMedium';line-height:51px;text-align:center;color:#fff;transition:color 0.3s}
.btn-banner_our{background:url('images/btn-normal_story.png');background-position:top;width:207px;height:51px;background-repeat:no-repeat;display:inline-block;font-size:16px;font-family: 'GothamRoundedMedium';line-height:51px;text-align:center;color:#01BAC6;transition:color 0.3s}
.btn-banner:hover,.btn-banner_our:hover,.btn-banner:active,.btn-banner:focus,.btn-normal:hover,.btn-normal:focus,.btn-normal:active{background-position:bottom;color:#333333}
section{position:relative}
.banner:after{width:100%;bottom:-1px;left:0;position:absolute;content:'';height:22px;background:url('images/cloud-repeat.png')repeat-x;}
.banner-swiper-pagination{white-space:nowrap}
.banner-swiper-pagination li{display:inline-block;padding:0 15px;width:33.3333337%;white-space:nowrap;border-right:2px solid #fff;line-height:56px}
.banner-swiper-pagination li:first-child{padding-left:0}
.banner-swiper-pagination li:last-child{padding-right:0;border-right:none}
.banner-swiper-pagination li a{color:#fff}
.banner-swiper-pagination li.active a,.banner-swiper-pagination li a:hover{color:#333}
.banner-swiper-pagination li a span{padding-left:15px}
.section-title{font-size:42px;font-family: 'AsparagusSprouts';text-align:center;line-height:1}
.section-title1{font-size:42px;font-family: 'AsparagusSprouts';text-align:center;line-height:1}
.section-sub-title{font-size:24px;font-family: 'GothamRoundedBook';text-align:center;line-height:1}
.bubble-bg{background:url('images/bubble-bg.png');background-size:cover}
.heart-bg{background:url('images/heart-bg.png');background-size:cover}
.star-bg{background:url('images/star-bg.png');background-size:cover}
.icon-box{border-radius:10px;padding-left:10px;padding-right:10px;height:100%;position:relative}
.icon-box p{margin-bottom:0}
.half-top{position:absolute;transform:translateX(-50%) translateY(-50%);top:0;left:50%}
.nav-tabs .nav-link{border:none;border-top-left-radius:0;border-top-right-radius:0;color:#333}
.nav-tabs li:last-child .nav-link{border:none}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active,.nav-tabs .nav-link:active,.nav-tabs .nav-link:hover,.nav-tabs .nav-link:focus{color:#333;background-color:transparent;text-decoration:underline}
.nav-link{display:block;padding:15px 1rem}
.pos-rel{position:relative;display:inline-block}
.speech-bubble-alignment{width:230px;left:50%;top:50%;transform:translateX(-40%) translateY(-50%);display:inline-block;text-align:center;position:absolute;line-height:1.2}
.speech-bubble-alignment:before,.speech-bubble-alignment:after{content:'“';position:absolute;right:calc(100% - 10px);top:0;font-family: 'AsparagusSprouts';font-size:265px;line-height:100px}
.speech-bubble-alignment:after{content:'”';left:calc(100%);top:auto;bottom:0;line-height:35px}
.btn-long{background:url('images/btn-long.png');background-position:top;width:280px;height:45px;background-repeat:no-repeat;display:inline-block;font-size:16px;font-family: 'GothamRoundedMedium';line-height:45px;text-align:center;color:#fff;transition:color 0.3s}
.btn-long:hover,.btn-long:focus,.btn-long:active{background-position:0 -45px;color:#fff}
.align-to-speech-bubble{margin-left:100px;margin-top:30px}
.normal-bubble-alignment{width:300px;top:50%;position:absolute;left:50%;transform:translateX(-50%)translateY(-50%)}
.btn-medium{background:url('images/btn-medium.png');background-position:top;width:239px;height:49px;background-repeat:no-repeat;display:inline-block;font-size:16px;font-family: 'GothamRoundedMedium';line-height:45px;text-align:center;color:#fff;transition:color 0.3s}
.btn-medium:hover,.btn-medium:focus,.btn-medium:active{background-position:0 -49px;color:#fff}
.align-to-normal-bubble{margin-left:70px}
.location-buses{position:relative}
.location-buses:after{content:'';background:url('images/location-buses.png')no-repeat;width:100%;height:518px;position:absolute;bottom:calc(100% - 28px);right:0;z-index:0;background-position:right}
.z-index-adjust{z-index:9}
.locations{line-height:1.7;position:relative;top:50px}
.locations a{color:#333}
.star-list li{padding-left:25px;background-image:url('images/li-star.png');background-position:left center;background-repeat:no-repeat}
.cloudy-bg{background:url('images/cloudy-bg.png')repeat-x;background-position:left 10px}
.and-theres-more-at-klay a{color:#666}
.social-icons li{float:left;margin:0 5px}
.lh-35{line-height:35px;vertical-align:top}
.widget .menu{list-style:none;padding:0;margin-bottom:0}
.widget .menu a{color:#333}
.widget .menu a:hover{color:#666}
.border-right-black{border-right:1px solid #000}
.black-color,.black-color a{color:#000}
.secondary-menu-mobile li{float:left;width:80%}
.secondary-menu-mobile li a{color:#fff;line-height:70px}
.secondary-menu-mobile li:first-child a{display:inline-block;width:100%;line-height:35px;font-size:14px}
.secondary-menu-mobile li span{vertical-align:middle}
.secondary-menu-mobile li:last-child{margin-right:0;width:20%;text-align:right;line-height:70px}
.navigation-toggle i{font-size:30px;line-height:70px}
.important-menu-items{border-bottom:1px solid #fff;color:#333}
.important-menu-items .col{border-right:1px solid #fff}
.important-menu-items .col a{padding:8px 0;color:#333;display:inline-block}
.location-content a span{position:relative}
.location-content a span:after{position:absolute;left:calc(100% + 10px);width:18px;height:27px;content:'';visibility:hidden;opacity:0;transition:all 0.2s;background:url('images/location-drop.png');top:50%;transform:translateY(-50%)}
.location-content li:hover a span:after{visibility:visible;opacity:1}
.small-caption{background:rgba(0,0,0,0.4);padding:5px 15px;position:absolute;bottom:15px;left:0}
.enquire-now{background:#e9e9e9;padding-left:15px;padding-right:15px}
.no-label-form .gform_wrapper .top_label .gfield_label,.no-label-form .gform_wrapper legend.gfield_label{display:none}
body .gform_wrapper{margin-top:0;margin-bottom:0}
.gform_title{text-align:center;font-family: 'GothamRoundedMedium';font-size:22px}
.gform_description{font-size:14px;font-family: 'GothamRoundedBook'}
body .enquire-now .gform_wrapper ul.gform_fields{display:flex;flex-wrap:wrap;margin-left:-15px!important;margin-right:-15px!important}
body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),body .gform_wrapper select,body .gform_wrapper textarea{border:1px solid #999999;font-family: 'GothamRoundedBook';font-size:14px;min-height:40px;padding:0 8px !important;border-radius:8px}
body .gform_wrapper .gform_footer{padding:15px 0 0;margin:0;text-align:center}
body .gform_wrapper textarea{padding:8px}
body .gform_wrapper .gform_heading{margin-bottom:0}
body .gform_wrapper .gform_footer input.button,body .gform_wrapper .gform_footer input[type=submit],body .gform_wrapper .gform_page_footer input.button,body .gform_wrapper .gform_page_footer input[type=submit],.btn-submit{margin:0;background:url('images/submit-btn.png')no-repeat;background-position:left top;width:149px;height:44px;color:#fff;border:none;cursor:pointer;font-family: 'GothamRoundedBook';display:inline-block;transition:color 0.3s;line-height:44px}
body .gform_wrapper .gform_footer input.button:hover,body .gform_wrapper .gform_footer input[type=submit]:hover,body .gform_wrapper .gform_page_footer input.button:hover,body .gform_wrapper .gform_page_footer input[type=submit]:hover,.btn-submit:hover{background-position:0 -44px}
.light-green-bg{position:absolute;top:0;left:0;width:100%;height:100%}
.light-blue-bg{position:absolute;top:0;left:0;width:100%;height:100%}
.light-blue-content{padding-left:30px;padding-right:30px;position:relative;top:50px}
.light-yellow-content{padding-left:30px;padding-right:30px;position:relative;top:50%;transform:translateY(-50%)}
.light-yellow-bg{position:absolute;top:0;left:0;width:100%;height:100%}
.tab-content-green-border{border:2px solid #bddd72;padding-left:15px;padding-right:15px}
.border-radius-10{border-radius:10px}
.pl-15{padding-left:15px}
.pr-15{padding-right:15px}
.lh-15{line-height:40px}
.lh-15 li span{
    width: 40px;
    margin-right: 10px;
    display: inline-block;
    text-align:center
}
.grey-foldable-border:after{background:url('images/repeater-grey.png')repeat-x;position:absolute;left:0;width:100%;height:13px;top:-10px;content:''}
.nav-tabs{border-bottom:none}
.single-slide-prev{position:absolute;top:50%;transform:translateY(-50%);left:15px;background:url('images/slider-prev.png');cursor:pointer;width:43px;height:43px;z-index:9}
.single-slide-next{position:absolute;top:50%;transform:translateY(-50%);right:15px;background:url('images/slider-next.png');cursor:pointer;width:43px;height:43px;z-index:9}
.home-slide-prev{position:absolute;top:50%;transform:translateY(-50%);left:15px;background:url('images/right-arrow.png');cursor:pointer;width:35px;height:35px;z-index:9}
.home-slide-next{position:absolute;top:50%;transform:translateY(-50%);right:15px;background:url('images/left-arrow.png');cursor:pointer;width:35px;height:35px;z-index:9}



/*clayneweditstart*/
.modal-content{margin-top:0%;z-index: 9999;}
section.tech_village h2.mt-0.mb-15.section-title {
    padding-top: 1.5%;
}
section.section_post h3.gotham-rounded-medium {
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    color: #333333;
}
section.section_post {
    padding-top: 1%;
}
section.section_post li a:hover,section.section_post h3 a:hover{
    color: #ff6800;
}
section.section_post a h3.gotham-rounded-medium {

    color: #333333;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bordernew {
    padding: 25px 0 0 0;
    border: 1px solid #fff;

}
.bordernew:hover {
    padding: 25px 0 0 0;
    border: 1px solid #a8a8a8;
}
.row.post_pad {
    padding: 10px 0;
}
select#dynamic_select {
    width: 60%;
    background-color: #ededed;
    border: 1px solid #a7a7a7;
    border-radius: 0.50rem;
    margin-top: 10%;   
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color: #14b9c5;
}
.section_post ul li:last-child{
  display: none;
}
.section_post ul li:first-child{
  color:#333333;
}
section.what_parent {
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eaeaea 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eaeaea 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
section.what_parent>.container-fluid>.row{border-bottom:1px solid #999999}
section.what_parent .section-title {
    font-size: 42px;
    font-family: 'AsparagusSprouts';
    text-align: center;
    line-height: 1;
    padding: 35px 0 20px 0;
}
p.text-center.name_sec {
    padding: 10px 0;
    color: #14b9c5;
}

.name_sec span{
    margin: 0;
    background: url(images/submit-btn.png)no-repeat;
    background-position: left top;
    width: 149px;
    height: 44px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'GothamRoundedBook';
}
.name_sec span:hover{
    background-position: 0 -44px;
}
a.btn-submit.par_padd {
    margin: 20px 0;
}
    .pro_timie h2 {
    font-size: 24px;
    color: rgb(51, 51, 51);
}
    .pro_timie h3 {
    font-size: 20px;
    color: rgb(51, 51, 51);
        padding-top: 2%;
    padding-bottom: 10px;
}
section.pt-50.pb-50.center-single h2 {
    text-align: left;
}
.pro_timie span {
color:#0099cc;
}
.row.director_area {
    padding: 2% 0;
}
.map_add {
    padding:2% 0 0;
}
p.phoneicon.gotham-rounded-medium {
    padding: 2% 0 2%;
}
.map_add img{

    margin: 0 auto;

}
p.address.gotham-rounded-book {
    padding: 10% 0 0;
    margin-left:5%;
}
p.phoneicon.gotham-rounded-medium img {
    padding-right: 15px;
    margin-left:5%;
}
hr {
    
    border-top: 1px solid #999999;
    
    width: 100%;
}
.image_center.iframe_src ,.map_off{
    border: 1px solid #000;
}
.hrmargin hr{
    
    margin: 3% 0;
}
.image_center{text-align: center;}
p.phoneicon.gotham-rounded-medium a {
    color: #333;
}
h1.mobileshow {
    text-align: center;
    display: none;
}
    h1.deskshow {
  
    display: block;
}

.loading {
  position: relative;
  width: 20px;
  height: 20px; 
  margin:50px auto;
  /*-webkit-animation: fa-spin 2s infinite linear !important;
  animation: fa-spin 2s infinite linear !important;*/
}

.loading:after {
  content: "\f110";
  font-family: FontAwesome;
  font-size:30px;
  position: absolute;
  top: 0; 
  -webkit-animation: fa-spin 2s infinite linear !important;
  animation: fa-spin 2s infinite linear !important;    margin-left: 10px;
}
.load-btn {
    margin: 0;
    background: url(images/load-btn.png)no-repeat;
    background-position: left top;
    width: 296px;
    height: 48px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'GothamRoundedBook';
    display: inline-block;
    transition: color 0.3s;
    line-height: 44px;
}
.load-btn:hover {
    background-position: 0 -48px;
}
.image_center.padd_btn {
    padding: 5% 0;
}
/*Facilities*/
.sizing{padding: 10px;}
/*Our Story*/
.story_sec h1{font-size:28px;    padding-bottom: 3%;}
.story_sec h3.gotham-rounded-book {font-size: 24px;    padding-bottom: 3%;}
.row.grey_back {background: #f9f9f9;}
.imgwth{width:100%;}
.pad_story {padding: 5% 0 5% 2%;}
.story_sec ul{margin-bottom: 5%;}
ul.gotham-rounded-book.pro_li li {line-height: 32px;}
.col-12.col-md-6.story_img {padding-right: 0;}
ul.gotham-rounded-book.list-inline.stort_link li {font-size: 18px;padding-right: 10%;}
.blue_back{background:#01bac6;color:#fff;    padding: 10%;min-height: 350px;}
.blue_back1{background:#01bac6;color:#fff;    padding: 10% 10% 6% 10%;min-height: 350px;}
.blue_back h3 { margin-bottom: 0;}
.blue_back p.gotham-rounded-book { padding: 3% 0;}
.in_img {
    padding-bottom: 5%;
}
section.people_sec h2.mt-0.mb-15.section-title {
    padding-bottom: 3%;
}
section.journey_sec h3{font-size: 24px;padding-bottom: 3%;}
.orange-colornew{color: #ff9022;}
section.people_sec {
    padding: 2% 0 4%;
}
section.journey_sec {
    padding: 2% 0 0%;
}
.home_st ul li a {color:#fff !important;text-decoration: none;}
    .home_st ul li a:hover {color:#fdbf13 !important;text-decoration: none !important;}
    .home_st ul li {    border-right: 2px solid #fff;}
    .home_st ul li:last-child {    border-right: 0px solid #fff;}
/*our team*/
section.section_team_ceo {
    background: #f5f5f5;
}
.team_width {
    width: 80%;
    margin: 0 auto;
}
section.pt-50.pb-50.section_content p {
    font-size: 20px;
}
.team_box {
    padding: 3% 1.5%;
}
.row.ceo{
    background: #fff;
    padding:3% 0; 
}
.team_back {
    background: #fff;
    padding: 5%;margin-bottom: 10%;
}
.col-12.col-md-4.image_center.gotham-rounded-book {
    border-right: 3px solid #15b4d1;
}

section.section_team_ceo .ceo h2.gotham-rounded-medium,section.section_team_ceo .ceo h3.gotham-rounded-book{font-size: 22px;}
.team_mem h3{font-size: 18px;padding-bottom: 5% ;}
.team_mem h2{font-size: 18px;padding-top: 5% ;margin: 0;}
.team_content{font-size: 17px;display:none;position: absolute;z-index: 999;background: #fff;margin-right: 4.1%;margin-left: -4%;padding: 0 5% 5%;}
.team_back.team_mem:hover .team_content{display: block;font-size: 14px;}
.col-12.col-md-8.ceo_margin {padding: 5% 3%;}
/*Media*/
section.pt-50.pb-50.section_medi .media_image{position: relative;}
section.pt-50.pb-50.section_medi .gotham-rounded-medium.media_content p {
  /*  position: absolute;
      top: 61.5%;*/
    background: #01bac6;
    color: #fff;
  padding: 10px;
    width: 100%;
    margin: 0 auto;    min-height: 75px;

        font-size: 18px;
}
.media_content p a:hover{color:#ee5d73 !important;}
.media_image img {
    width: 100%;
    height: 270px !important;
}
section.pt-50.pb-50.section_medi h2.gotham-rounded-book {
    font-size: 16px;
    font-style: italic;padding-top: 2%;
}
section.pt-50.pb-50.section_medi .col-12.col-md-4.image_center.media_image {
    padding-bottom: 5%;
}
.section_event .swiper-slide h2{font-size: 20px;padding-bottom: 2%;}
.swipeslider_event {
    padding: 3% 0;
}
.swipeslider_staff {
    padding: 3% 0;
    height: 500px;
}
section.pt-50.pb-50.section_medi .image_center.padd_btn {
    padding: 1% 0;
}
section.section_event .swiper-slide img:hover{border: 2px solid #ccc;}
section.section_event .swiper-slide img{border: 2px solid #fff;}
.card-header a {
    font-family: 'GothamRoundedMedium';
}
/*Contact us*/
section.contact_sec .gfield_label,section.contact_sec .gform_title{display: none !important;}
section.contact_sec .gform_body {text-align: center;}
section.contact_sec .gform_wrapper textarea.medium {height: 160px; width: 90%;}
section.contact_sec .gform_wrapper input.medium,section.contact_sec .gform_wrapper .top_label select.medium{width: 90%;}
section.contact_sec .contact-form {position: absolute;top: 5%;left: 17%;    z-index: 9999;    right: 16%;background: #a2e5e9;}
section.office_sec {padding: 2% 0;}
section.contact_sec {padding: 0 0 2%;}
.office {background: #f2f2f2;      padding: 3% 5%;}
.office h1.gotham-rounded-medium {font-size: 22px;    padding-bottom: 1%;}
.office hr {margin: 3% 0;}.contact_sec img {height: 100%;}


.contact-form1 { 
  border: 40px solid transparent;
 
  -webkit-border-image: url(https://www.klayschools.com/wp-content/uploads/2019/03/contact_back_back-2.png) 30 fill stretch; /* Safari 3.1-5 */
  -o-border-image: url(https://www.klayschools.com/wp-content/uploads/2019/03/contact_back_back-2.png) 30 fill stretch; /* Opera 11-12.1 */
  border-image: url(https://www.klayschools.com/wp-content/uploads/2019/03/contact_back_back-2.png) 30 fill stretch;
 
}
.contact-form11 {
    background: #a2e5e9;
    
    padding-top: 3%;
}

/*Admission*/
.office.office_st .border_line5 {
    display: none;
}
.sec_admission h3.gotham-rounded-book a {
    font-size: 24px;
    color: #0066cc;
}
.contact-form11.enquire-now.pt-15.pb-15.no-label-form.admin_form span.gform_description{display:none;}
.contact-form11.admin_form {
    background: #a2e5e9;
    padding: 3% 15%;
}
    .program_size {
    width: 65%;
    margin: 0 auto;
}
.program_size h3 {
    font-size: 20px;
    padding: 7% 0;
}
section.office_sec h2.mt-0.mb-15.section-title {
    padding: 3% 0 2%;
}
section.loc_sec .office {
    background: #f2f2f2;
    padding: 4% 5% 3%;
}
section.loc_sec .office li {
 
    padding-right: 4%;
 
}
section.loc_sec .office li a{
    color: #0099cc;
 
 
}
section.loc_sec_off {
    padding-top: 5%;
}
section.loc_sec {
    padding-top: 3%;
}
.map_off {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 2%;
}
h2.mt-0.mb-15.gotham-rounded-book.esc_size {
    font-size: 22px;
}
/*.office.office_st a {
    color: #003366;
    font-weight: bold;
}*/
/*blog single*/
.align-self-start .read_post:hover{color:#ee5d73;}
h3.gotham-rounded-medium.popu_blog {
    padding-top: 6%;
}
.mobileview{display: none;}
.deskview{display: block;}
.single_content h3 {
    font-size: 24px;
    padding: 2% 0;
}
.col-8.gotham-rounded-book.meta_content {
    font-size: 14px;
    padding-bottom: 2%;
}
.sidebar_blog {
    margin-top: 11%;
}
.image_re{position: relative;}
.addtoany_list.a2a_kit_size_32 a:not(.addtoany_special_service)>span {
    height: 28px !important;
    line-height: 32px;
    width: 28px !important;
    border-radius: 50% !important;
}
.addtoany_shortcode:before {
    content: 'Share:';
}
.single_content p{font-family: 'GothamRoundedBook';font-size: 16px;text-align: justify;}
.single_content p span{color:#ff6600;font-size: 20px;}
.write_blog {
    padding: 6%;
    background: #e9e9e9;
margin-bottom: 10%;
}
.row.latest_single {
    background: #fff;
    padding: 4% 0% 4% 0%;
    margin: 0% 0 7%;
}

.lat_title {
    margin: 0px 0px 5px 0px;
    line-height: 1.2;
}
.post-views{
    width: auto;
    float: left;
    padding-right: 10px;
    font-family: 'GothamRoundedBook';
    font-size: 16px;
    font-style: italic;
}
.lat_title_new {
    margin: 0px 0px 0px 0px;
    line-height: 1.2;
}
.Popular {
    padding-top: 5%;
    padding-bottom: 3%;
}
.write_blog h3 {
    font-size: 22px;
    text-align: center;
    padding: 3% 0;
}
.write_blog p {
    font-size: 16px;
}
/*blog*/
h2.section-title.single_cat_title {
    padding: 3% 0;
}
/*.pos-abs-blog-title{
    position:absolute;
    bottom: 34.6%;
    width:calc(100% - 30px);
    padding-left:15px;
    padding-right:15px;
}*/
.pos-abs-blog-title {
    
    bottom: 0;
    width: calc(100% - 0px);
    padding-left: 15px;
    padding-right: 15px;min-height: 75px;
}
.align-self-start p{
    font-size: 16px;
   padding: 5px 12px 0px;
}
.align-self-start .author {
    font-style: italic;position: relative;
}
.align-self-start .read_post{
font-size: 18px;color:#01bac6;padding: 5px 12px 0px;
}
span.star {
    color: #ff6600;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 0;
}
/*p.gotham-rounded-book.excerpt_hi {
    min-height: 100px;
}*/
.wp-pagenavi a, .wp-pagenavi span {

    font-family: 'GothamRoundedMedium';
}

.post_cat h4{font-size:24px;text-align: center;}
.post_cat .align-self-start{text-align: center;}
.cat_title_head p{font-size: 24px;text-align: center;}
.col-12.cat_title_head {
    padding: 1% 0px 4%;
}
.align-self-start.mb-30 {
    margin-bottom: 50px;
}
/*event*/
.section_new_event h2.gotham-rounded-medium {
    color: #53b6c4;
    font-size: 20px;
}
section.pt-50.pb-50.section_event.section_new_event .single-slide-next,section.pt-50.pb-50.section_event.section_new_event .single-slide-prev {

    top: 65%;
    }
section.section_event.section_new_archive .hr {
    margin-top: 5%;
}
/**/
p.login-username label,p.login-password label {
    display: none;
}
  .login-username #user_login,.login-password #user_pass,.register_form input,.register_form .location{
    border: 1px solid #999999;
    font-family: 'GothamRoundedBook';
    font-size: 14px;
    min-height: 40px;
    padding: 0 8px;
    border-radius: 8px;width: 80%;
}

.login-submit #wp-submit:hover,.contact-form11.register_form .button:hover{
    background-position: 0 -44px;
}
.contact-form11.register_form #reset-pass-submit:hover{
    background-position: 0 -44px;
}
.somfrp-lost-pass-form-text {
    display: none;
}
p.no-margin label{display: none;}
input#somfrp_user_info {
    margin-left: 10%;
}
p.login-remember {
    text-align: left;
    padding-left: 10%;
}
.list-inline.custom_reg {
    padding-left: 0;
    list-style: none;
    text-align: center;
    padding-top: 2%;
    color: #000;
}
.list-inline.custom_reg li a,.list-inline.custom_reg li {

    color: #000;
}
section.pt-50.pb-50.aa_loginForm hr {
    margin: 7% 0 1%;
}
.aa_loginForm .section-title {

    padding-bottom: 4%;
}
.login-submit #wp-submit,.contact-form11.register_form .button{
    margin: 0;
    background: url(images/submit-btn.png)no-repeat;
    background-position: left top;
    width: 149px;
    height: 44px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'GothamRoundedBook';
    display: inline-block;
    transition: color 0.3s;
    line-height: 44px;
}
.contact-form11.register_form #reset-pass-submit{
    margin: 0;
    background: url(images/pass_btn.png)no-repeat;
    background-position: left top;
    width: 249px;
    height: 44px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'GothamRoundedBook';
    display: inline-block;
    transition: color 0.3s;
    line-height: 44px;
}
/*Custom css*/
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    display: none;
}
.home-slide-next,.home-slide-prev{ display: block;}
.parent_login_new p.login-username {
    width: 39%;
    float: left;
}
.parent_login_new p.login-password {
    width: 39%;
    float: left;
}
.br_align {
    padding-top: 11%;
}
section.section_event .image_center.padd_btn {
    padding: 2% 0;
}
.tab_day .nav-tabs .nav-link.active:after{
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
       color: #bddd72;
    bottom: -53%;
    font-size: 50px;
    left: 42%;
    text-decoration: none;

}
 .programnow li .active:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    color: #bddd72;
    bottom: -46%;
    font-size: 50px;
    left: 42%;
    text-decoration: none;
}

.programnow li{position: relative;}
li.nav-item.text-center.d-md-inline-block.gotham-rounded-medium{position: relative;}
/*Carrer*/
#tab2 .tab-content {
    padding: 0 5%;
}

.car_pa {
    margin-top: 13%;
}
.amazingslider-swipe-box-2,.amazingslider-swipe-box-3 {
    height: 417px !important;
}
#tab2 p {
    font-size: 24px;
   font-family: 'GothamRoundedBook';text-align: center;
}
#tab2 h2 {
    font-size: 38px;text-align: center;    padding: 3% 0 1%;
}
#tab2 span {
    font-size: 24px;
   font-family: 'GothamRoundedMedium';
}
#tab2 .contact-form11 h3{font-size: 24px;text-align: center;    padding-bottom: 1%;}
#tab2 .contact-form11 h4 {
    font-size: 18px;
}
#tab2 ul.carrer_tab {
   border-bottom:0px solid #14b9c5;
    padding-bottom: 10px;
}
#tab2 ul.carrer_tab li {
    display: inline-block;
    margin-right: 5%;
   
    
}
#tab2 .contact-form1 {

    margin-top: 4%;
    margin-bottom: 1%;
}
#tab2 h2.section-title {
    
    padding: 3% 0 1.5%;
}
h2.section-title.teacher_clay {
    padding: 4% 0 0 !important;
}
#tab2 .tab-content p {
    font-size: 18px;
    font-family: 'GothamRoundedBook';
   text-align: left; 
}
#tab2 ul.carrer_tab li a.active h4{
  padding-bottom: 6%;
    border-bottom: 1px solid #000;
    
}
#tab2 ul.carrer_tab li a h4{
  padding-bottom: 6%;border-bottom: 1px solid #a2e5e9;
  
    
}
#tab2 .contact-form11 {
    padding-top: 1%;
}
#tab2 ul.carrer_tab a{color:#000;}
#tab2 ul.carrer_tab li .active:after{
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    display: none;
}
.careerpath p {
    font-size: 17px;
    font-style: normal;font-family: 'GothamRoundedBook';
}
.col-md-4.nopadding {
    padding: 0;
}
.col-md-4.nopadding.careerpath1_bk {
    background: #f97a3c;
    font-family: 'GothamRoundedMedium';
    font-size:30px;color:#fff;
}
.col-md-4.nopadding.careerpath2_bk {
    background: #aec523;font-family: 'GothamRoundedMedium';
    font-size:30px;color:#fff;
}
.col-md-4.nopadding.careerpath3_bk {
    background: #01bac6;font-family: 'GothamRoundedMedium';
    font-size:30px;color:#fff;
}
.col-md-4.nopadding.careerpath1_bk span,.col-md-4.nopadding.careerpath2_bk span,.col-md-4.nopadding.careerpath3_bk span {
    position: absolute;
    bottom: 0;
    padding: 25px;
}
.careerpath .section-title {

    padding: 4% 0 2%;
}
.apply_btn a.btn-submit {
    font-size: 18px;
    text-align: center;
}
.col-md-12.apply_btn {
    padding: 3% 0;
}
.sub_tab_content .label_no label.gfield_label {
    display: none !important;
}
.sub_tab_content label.gfield_label,.sub_tab_content span#extensions_message_4_14 {
    font-size: 17px !important;font-family: 'GothamRoundedBook' !important;font-weight: none!important;
}
.sub_tab_content input#input_4_14 {
    width: 100%;
    font-size: 20px;
   
}
.sub_tab_content input#input_4_14 {
    font-size: 17px;
}
#tab22 .form4 {
    background: #f3f3f3;
    padding: 4% 0;
}
.form4 {
    background: #f3f3f3;
    padding: 1% 0;
}
.sub_tab_content #tab23 p {
    font-size: 17px;
    text-align: center;
    font-style: normal;
    padding: 2% 0;
}
.sub_tab_content #tab22 p {
    font-size: 20px;
    text-align: center;
    font-style: normal;
}
#tab22 h2.section-title {
    padding: 3% 0;
}
.row.form4 .gform_heading {
    display: none;
}
.row.form4 .active:after {
    content: "" !important;
}
.span8 .section-title {
    font-size: 42px;
    font-family: 'AsparagusSprouts';
    text-align: center;
    line-height: 1;
}
div#tab23 {
    padding-top: 3%;
}
.position_car,.location_car{width:100%;    font-size: 17px;font-family: 'GothamRoundedBook' !important;padding: 4%;border-radius: 5px;}
input#gform_submit_button_4{font-size: 16px;}
.row.form4 .enquire-now{background: none;}
.sub_tab_content ul#input_4_12:before {
    content: "Gender:";
    font-size: 17px;
    padding-right: 20px;
    font-family: 'GothamRoundedBook'
}
label#label_4_12_0,label#label_4_12_1 {
    font-size: 17px;
    font-family: 'GothamRoundedBook'
}
.sub_tab_content .gform_wrapper .top_label input.medium, .sub_tab_content .gform_wrapper .top_label select.medium {
     width: 100%;
}
ul.carrer_tab li {
    display: inline-block;
}
ul.carrer_tab h3 {
    font-size: 20px;
    padding-right: 40px;
}
li.pad_tab {
    padding: 0 2%;
    color: #01bac6;
    font-weight: bold;
}
ul.carrer_tab {
    text-align: center !important;
    border-bottom: 1px solid #14b9c5;    padding-bottom: 10px;
}
ul.carrer_tab_sub {
    text-align: center !important;
      border-bottom: 1px solid #14b9c5;display: block;
}
ul.carrer_tab_sub h4.gotham-rounded-book {
    font-size: 18px;
}
ul.carrer_tab_sub li {
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}
ul.nav.carrer_tab{
    display: -ms-flexbox;
    display: block !important;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    text-align: center;
}
.tabshow {
    display: none;
}
.tabmain p.gotham-rounded-book {
    font-size: 20px;
    text-align: center;
    padding: 3% 0;
}
.label_career {
    font-size: 20px;padding: 3% 0 1%;
}
.label_career span{color:#01bac6;}
.value_career {
    font-size: 17px;
}
.value_career li {
    list-style: none;    line-height: 25px;
}
.value_career li:before {
    content: "*";
    padding-right: 5px;
}
.value_career ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
}
ul.carrer_tab li .active{color:#000;}
ul.carrer_tab li .active:after { 
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;position: absolute;
    color: #01bac6;
    font-size: 30px;
    bottom: -37px;
    left: -21px;
}
.carrer_tab li a{position: relative;}
ul.carrer_tab_sub li .active:after,ul.carrer_tab_sub .tab-content .active:after {
    content: "";
}
.sub_tab_content p {
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
.carrer_loc {
    background: #f3f3f3;
    padding: 5%;
    text-align: center;

}
div#tab21 .carrer_loc {
    background: #f3f3f3;
    padding: 2% 0;
    text-align: center;

}
.col-md-12.loc_pad_new {
    padding-bottom: 4%;
}
.carrer_loc h4,.carrer_loc p{font-size: 20px;}
.carrer_loc h3.gotham-rounded-medium {
    font-size: 22px;
    color: #01bac6;
}
.carrer_loc span.gotham-rounded-book {
    font-size: 20px;
    color: #000;
        padding-left: 5%;
}
.walk_in {
    padding: 3% 0px;
}
.tabmain h2 {
    font-size: 20px;
    text-align: center;
    background: #01bac6;
    padding: 15px 0;
    margin: 0;
    color: #fff;
}

/*Gallery*/
section.sec_virtual .deskview{display: block;}
section.sec_virtual .mobileview{display: none;}
.accordion {
  width: 50%;
  cursor: pointer;
margin: 0 auto;
}
section.section_event.section_new_archive {
    margin-top: -1%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image_overlay {
  position: relative;

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.image_overlay:hover .image {
 background: #00000042;

}

.image_overlay:hover .middle {
  opacity: 1;
  background: #00000042;
   width: 100%;
 height: 100%;

}
.text {
    
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.middle .text i.fa.fa-search{margin-top:50%;font-size: 25px;}
section.pt-50.pb-50.section_event.section_new_event hr{margin-top: 4%;}
section.section_event.section_new_archive hr{margin-bottom: 4%;}


.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}



.panel {
  padding: 0 18px;
 text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

section.sec_virtual {
    padding: 3% 0;
}
section.sec_virtual h2.gotham-rounded-medium{font-size: 20px;padding-bottom: 5%;}
section.sec_virtual h3{font-size: 18px;    color: #333333;}
.sec_gallery .modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
}

.sec_gallery .modal-content span {
    font-size: 30px;
    text-align: right;
    padding-right: 1%;
    /* width: 20px; */
    color:#fff;    cursor: pointer;
}
.sec_gallery h3.gotham-rounded-book {
    font-size: 20px;
    text-align: center;padding: 3% 0;
}
.sec_gallery .swiper-slide{text-align: center;}
.sec_gallery .modal-content{background: #000;}


.col-md-3.col-lg-3.col-sm-12.text-center.item {
    margin: 30px 0;
}
span.cor-content {
    width: 100%;
    float: left;
    padding: 6px 0;
    background: #eeeef2;
}
/*img.cor-image:hover {
    bottom: 5px;
    transition-duration: 0.5s;
    margin-bottom: -5px;
}*/

img.cor-image {
    position: relative;
    bottom: 0;
}
.enchriment-yellow-content{
padding-left: 50px;
padding-right: 50px;
position: relative;
top: 75%;
transform: translateY(-75%);}
.logo,.logo2 {
position: absolute;
right: 0;
transform: translateX(-50%);
}
.enchriment-yellow-content2{
padding-left: 50px;
padding-right: 50px;
position: relative;
top: 50%;
transform: translateY(-50%);   
    }

.center_pad_new li.mega-menu-columns-2-of-12 {
    width: 13.66667% !important;
}

.hight_pro .mega-sub-menu li div {
    min-height: 35px !important;
}
.corprate_icon a:before {
    border-top: 0px solid #14b9c5 !important;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
}
.hide_career{display: none !important;}
#mega-menu-wrap-menu-2 #mega-menu-menu-2 li.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-menu-2 #mega-menu-menu-2 li.mega-menu-item-has-children > a.mega-menu-link span.mega-indicator:after {

    font-size: 22px !important;
}
.footer_subc label span,form#gform_5 .gform_title{display: none;}
input#gform_submit_button_5{background: #fff!important;color: #333;font-family: 'GothamRoundedMedium';font-size:16px;border-radius: 6px;line-height: 38px;height: 37px;}
.col-12.col-md-8.offset-md-2.padd_sub {
    padding-bottom: 4%;
}
footer#colophon .gform_wrapper form.gf_simple_horizontal div.gform_body {
    width: 80%;
    max-width: 75%;
}
#mega-menu-wrap-menu-1 #mega-menu-menu-1 p {
    
    font-family: 'GothamRoundedBook';
}
#programDetailsTab li a img:hover
{
  width:89px;height:89px;
  border: solid 1px #555;
  background-color: #eed;
  box-shadow: 5px 2px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 2px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 2px  rgba(0,0,0,0.6);
  -o-box-shadow: 5px 2px  rgba(0,0,0,0.6);
  border-radius:100px;
}
#programDetailsPreTab li a img:hover
{
  width:95px;height:95px;
  border: solid 1px #555;
  background-color: #fff;
  box-shadow: 5px 2px rgba(0,0,0,0.6);
  -moz-box-shadow: 5px 2px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 2px  rgba(0,0,0,0.6);
  -o-box-shadow: 5px 2px  rgba(0,0,0,0.6);
  border-radius:100px;
}
/*#programDetailsPreTab li a img
{
  width:89px;height:89px;
  border: solid 1px #BDDD72;
  background-color: #eed;
  box-shadow: 5px 2px #BDDD72;
  -moz-box-shadow: 5px 2px  #BDDD72;
  -webkit-box-shadow: 5px 2px  #BDDD72;
  -o-box-shadow: 5px 2px  #BDDD72;
  border-radius:100px;
}*/
.gcolo:hover,.gcolor:hover {
    color: #ee5d73 !important;
}
.gcolo{
    color: #0099cc !important;
}

.pre_icon {
    width: 10%;
    float: left;text-align: center;
}
.klay-standards li p{
   margin-bottom: 0px !important;margin-left: 15%;
 }
 .klay-standards ul.list-unstyled.mb-0.lh-15.gotham-rounded-book.fs-15 {
    padding: 3% 0%;
}
.line_he_pre{line-height: 56px;}

/*Parent Tale*/
.resource_band {
    background: #fff25e none repeat scroll 0 0;
    float: right;
    max-width: 100%;
    padding: 5px 0;
    text-align: right;
    width: 100%;
}
.resource_thumb.p-0.m-0.float-left.col-12.col-sm-12.float-left.text-center img {
    width: 100%;height:auto;
}
.resource_title a {
/*     color: #212529; */
    float: left;
    line-height: 25px;
    width: 100%;
    text-align: center;
}
.fsnew-18 {
    font-size: 16px;
}

/**/

/*Staff*/
.staff_content{
    font-size: 17px;
    padding: 5% 0px 0;
    color: #333333;
    line-height: 27px;
    font-weight: 500;min-height: 100px;
}

.staff_name {
    font-size: 17px;
    padding: 3% 0px 0;
    color: #000;
    line-height: 27px;
}
.staff_link {
    font-size: 17px;
    padding: 3% 0px 0;
    color: #01bac6;
    line-height: 27px;
}
.row.support_wo {
    background: #f2f2f2;
    padding: 3%;margin-top: 4%;
}
/**/
.page-template-common-centers .title-holder .fs-40 {
    font-weight: bold;
}
select.up_events {
    
    margin-top: -2% !important;
}
.view_up{text-align: right;}
@media only screen and (min-width: 1000px) and (max-width: 1367px){
  section.pt-50.pb-50.section_medi .gotham-rounded-medium.media_content p{font-size: 15px;top: 64.7%;}

  .programnow li .active:after {

    bottom: -25%;
   
}
    .locations{margin-left:-55px}
  section.contact_sec .contact-form {
   
    left: 13%;
    
}
.tab_day .nav-tabs .nav-link.active:after {

    bottom: -30%;

}

}
@media only screen and (max-width: 1365px){
.light-green-bg {
    top: -15px;
 
}
}
@media only screen and (max-width: 951px){

    .bannerid0 .btn-banner{margin-left:auto;}
.bannerid1 .btn-banner{margin-right:36%; margin-top:62% !important;}
.bannerid2 .btn-banner{margin-left:auto;}
.bannerid3 .btn-banner{margin-left:auto;}
	.tab_day .nav-tabs .nav-link.active:after {

    bottom: -30%;

}
.swiper-container {width: 100% !important;}
    img.img-responsive.center-block.wp-post-image {width: 100%;height: auto;}
    #singleSlideSwiper{margin:0 0px}
    .container-fluid{padding-left:15px;padding-right:15px}
    .site-logo{top:0}
    .banner-caption{padding:0}
    .btn-banner,.btn-normal{background:url('images/btn-normal-mobile.png');background-position:top;width:100px;height:35px;background-repeat:no-repeat;display:inline-block;font-size:14px;font-family: 'GothamRoundedMedium';line-height:35px;text-align:center;color:#fff;transition:color 0.3s}
    .btn-banner:hover,.btn-banner:active,.btn-banner:focus,.btn-normal:hover,.btn-normal:focus,.btn-normal:active{background-position:bottom;color:#14b9c5}
    .banner-swiper-pagination li{width:100%;padding:0}
    .icon-box img{max-width:100px}
    .section-title{font-size:28px;font-family: 'AsparagusSprouts';text-align:center;line-height:1}
    .section-sub-title{font-size:18px;font-family: 'GothamRoundedBook';text-align:center;line-height:1}
    .nav-fill .nav-item{width:100%}
    .nav-tabs .nav-link{border-right:none;border-bottom:1px solid #fff;padding:5px 5px} 
    .bubble-bg{background-size:contain}
    .heart-bg{background-size:contain}
    .star-bg{background-size:contain}
    .normal-bubble{max-width:100%;background-size:contain}
    .nav{padding-right:0}
    .location-buses:after{display:none}
    .social-icons img{width:30px}
    .lh-35{line-height:30px}
    .border-right-black{border-right:none}
    .icon-box{padding-left:0px;padding-right:0px}
    .half-top{max-width:100px}
    .only-these-widgets .widget-title{background:#777a6d;padding-top:8px;padding-bottom:8px;border-bottom:1px solid #c4c5bf;cursor:pointer}
    .only-these-widgets .widget{border-bottom:1px solid #c4c5bf}
    .only-these-widgets .widget .menu{display:none}
    .only-these-widgets{margin-right:-30px;margin-left:-30px}
    .o-flow-hidden{overflow:hidden}
    #programDetailsTab,#programDetailsPreTab{width:100%;border-bottom:none}
    #programDetailsTab li{width:33.33337%; float: left;}
    #programDetailsPreTab li{width:25%;float: left;}
    #programDetailsTab.nav-tabs .nav-link,#klayStandardTab.nav-tabs .nav-link,#programDetailsPreTab.nav-tabs .nav-link{border-bottom:none}
    #programDetailsContent,#programDetailsPreContent{margin-left:-30px;margin-right:-30px;font-size:16px}
    .light-yellow-content{padding-left:0;padding-right:0}
    .light-blue-content{padding-left:15px;padding-right:15px}
    #klayStandardTab{margin-bottom:10px;}
    #klayStandardContent .tab-pane img{max-width:75%}
}
@media only screen and (max-width: 767px){

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    display: block;
}
.home-slide-next,.home-slide-prev{ display: none;}
  .modal-content{margin-top:0%;}
  section.sec_virtual h2.gotham-rounded-medium{font-size:18px;}
  .accordion {
    width: 60%;
}body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), body .gform_wrapper select, body .gform_wrapper textarea {
    border: 1px solid #999999;
    font-family: 'GothamRoundedBook';
    font-size: 9px !important;
    min-height: 40px;
    padding: 0 8px !important;
    border-radius: 8px;
}
/*.site-header {
    overflow: hidden;
}*/
  .admin-bar .site-header {
    top: 0;
}
  section.banner {
    margin-top: 0%;
}  
.site-header {
    position: relative;
    z-index: 999999;
    top: 0;
}
  footer#colophon {
    padding-top: 0;
}
 footer#colophon .gform_wrapper form.gf_simple_horizontal div.gform_body  {
    width: auto;
    max-width: 100%;
}
   .programnow li .active:after {

    bottom: -34%;
   
}
span.mega-menu-description {
    display: none !important;
}
  ul.nav.carrer_tab{white-space: nowrap;overflow: scroll;}
    .mobileview .col-7.gotham-rounded-book.meta_content {
    font-size: 14px;
    padding-bottom: 2%;
}
.mobileview{display: block;}
.deskview{display: none;}
    h2.mt-0.mb-15.gotham-rounded-book.esc_size{font-size: 17px;}
    .text-xs-left{text-align: left !important;}
    .text-xs-center{text-align: center !important;}
    .col-md-4.career1 {
    padding-bottom: 10%;
}
section.contact_sec {padding-bottom: 30px;}
#tab22 .form4 {
    
    padding: 4% 4%;
}
select.location_car {
    margin-bottom: 5%;
}
    section.section_event.section_new_archive .hr {
    margin-top: 15%;
}
    section.pt-50.pb-50.section_event.section_new_event{
    padding-top: 30px;
}
section.pt-50.pb-50.section_event.section_new_event {
    padding-bottom: 30px;
}
.section_new_archive .section-title {

    padding-top: 5%;
}

    section.sec_virtual {
    padding: 10% 0;
}
    section.sec_virtual .deskview{display: none;}
section.sec_virtual .mobileview{display: block;}
    .office_sec .col-12,.contact_sec .col-12,#tab2 .col-12{padding-right: 0px; padding-left: 0px;}
    .office {padding: 3% 0%;}
    .office hr {margin: 5% 0;}
    .col-12.col-md-4.image_center.gotham-rounded-book,.team_mem h3 {
        border-right: 0px solid #15b4d1;
    }
    .team_content{display: block;position: relative;text-align: center;font-size: 17px !important;}
    .team_width {
        width: 100%;
    }
    .team_box {
        overflow: hidden;padding: 8% 0;
    }

    .ceo h2,.ceo h3,.ceo p{text-align: center;padding: 0 5%;}
    .single-slide-prev{width:30px;height:30px;background-size:contain}
    .single-slide-next{width:30px;height:30px;background-size:contain}
    .light-green-bg{position:relative;width:auto;height:auto;margin:0 -15px;background:#bddd72}
    .light-green-bg:before{position:absolute;width:100%;height:11px;background:url('images/green-top.png');left:0;bottom:100%;content:''}
    .light-yellow-bg{position:relative;width:auto;height:auto;margin:0 -15px;background:#ffee60}
    .light-yellow-bg:before{position:absolute;width:100%;height:11px;background:url('images/yellow-top.png');left:0;bottom:100%;content:''}
    .light-yellow-bg:after{position:absolute;width:100%;height:11px;background:url('images/yellow-bottom.png');left:0;top:100%;content:''}
    .light-yellow-content{top:auto;transform:none;padding-top:30px;padding-bottom:30px}
    .light-blue-bg{position:relative;width:auto;height:auto;margin:0 -15px;background:#a2e5e9}
    .light-blue-bg:before{position:absolute;width:100%;height:11px;background:url('images/blue-top.png');left:0;bottom:100%;content:''}
    .light-blue-bg:after{position:absolute;width:100%;height:11px;background:url('images/blue-bottom.png');left:0;top:100%;content:''}
    .light-blue-content{top:auto;transform:none;padding-top:30px;padding-bottom:30px}
    .h-100vh{
        height: 100vh;
    }
    .pt-xs-14{
        padding-top: 14px;
    }
    .enchriment-yellow-content{
        padding-left:15px;
        padding-right:15px;
        position: relative;
        top: 0;
        transform: none;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .logo{
        position: absolute;
        right: 0;
        transform: translateX(-27%);
        top: 37%;
    }
    .enchriment-yellow-content2 {
        padding-left:15px;
        padding-right:15px;
        position: relative;
        top: 0;
        transform: none;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .logo2{
        position: absolute;
        right: 0;
        top: 45%;
        transform: translateX(-27%);
    }
    section.what_parent .section-title {
        font-size: 26px;
    }
	.page-id-2 .swiper-slide{padding-top: 0px;}
}
@media only screen and (max-width: 640px){
    .view_up {
    text-align: center;
    padding-bottom: 25px;
}
  .line_he_pre{line-height: 41px;}
	section.journey_sec h3 {
    font-size: 18px;
    padding-bottom: 3%;
}
	img.logo1 {
    margin-top: 10%;
    padding-bottom: 3%;
}
  h2.section-title.teacher_clay {
    padding: 12% 0 0 !important;
}
    .gotham-rounded-book.ob_res1 p {
    text-align: left !important;
    font-size: 18px !important;
}
#tab2 h2.section-title {
    padding: 7% 0 5%;font-size: 28px;
}
.car_pa {
    margin-top: 20%;
}
.sliderwidth.clearfix.pt-50.pb-50 {
    padding-top: 15px;
}
#tab2 span {
    font-size: 18px;
    font-family: 'GothamRoundedMedium';
}
    #tab2 .contact-form11 {
    padding-top: 1%;
    padding: 0 5%;
}
    #tab2 ul.carrer_tab {

    white-space: nowrap;
    overflow: scroll;
}
    li.pad_tab {
    padding: 0 1%;
   
}
    ul.list-inline.custom_reg.gotham-rounded-book {
    padding: 10% 0;
}
section.pt-50.pb-50.aa_loginForm{padding-bottom: 20px;}
  section.pt-50.pb-50.aa_loginForm .col-12.col-md-6.offset-md-3.image_center{

  padding-right: 0px;
    padding-left: 0px;
}
.amazingslider-swipe-box-2 {
    height: 255px !important;
}
    /*clayneweditstart*/
    .col-md-4.nopadding.careerpath1_bk,.col-md-4.nopadding.careerpath2_bk,.col-md-4.nopadding.careerpath3_bk {
  
    font-size: 18px;
    
}
.row.row_pad_career {
    padding: 0% 3%;
}
/*    ul.carrer_tab h3 {
    font-size: 16px;
    /*padding-right: 16px;
}*/
ul.carrer_tab_sub h4.gotham-rounded-book {
    font-size: 15px;
}
    .office.office_st p {
    text-align: left;
    
}

.map_off {
    width: 90%;    padding-bottom: 6%;
  
}
.office_sec ul#gform_fields_1 .col-12, .contact_sec ul#gform_fields_1 .col-12 {
    padding-right: 15px;
    padding-left: 15px;
}
section.loc_sec .office li {
    padding-right: 0%;
    display: block;
    padding-bottom: 15%;
}
span.br_of {
    display: none;
}
section.loc_sec .map_mobile.image_center {
    text-align: left;width: 50%;
    margin: 0 auto;
}
section.loc_sec ul li img {
    padding-right: 5%;
}
    .office p.gotham-rounded-book {
    padding: 0 5%;
}
.pro_timie p {
    line-height: 25px;
    margin-bottom: 3px;
}
.mobile_show{display: none;}
    section.contact_sec .contact-form {left: 9%;right:0;}
    .image_center{text-align: center;}
    select#dynamic_select {margin-bottom: 10%; text-align: center;  margin-left: auto;   margin-right: auto;}
    section.section_post ul { display: none;}
    section.director_sec h3,section.director_sec h2 { text-align: center;}
    section.pt-50.pb-50.center-single h2 { text-align: left;margin-bottom: 20px;}
    img.img-responsive.center-block.wp-post-image {width: 100%;height: auto;}
    h1.mobileshow {
    text-align: center;
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5%;
    margin-bottom: 5%;
    font-family: 'GothamRoundedMedium';
}
    .sizing{margin-left: 0px;margin-right: 0px;}

.blue_back {
  
    margin-bottom: 8%;
}
.story_sec h1 {
    font-size: 20px;
   
}
.story_sec h3.gotham-rounded-book {
    font-size: 18px;
 
}

.page-template-template-story h1.fs-40.fs-xs-20.mb-50.mt-0.gotham-rounded-book {
    color: #fff;
}
.page-template-template-team h1.fs-40.fs-xs-20.mb-50.mt-0.gotham-rounded-book {
    color: #fff;
}
section.pt-50.pb-50.section_medi .gotham-rounded-medium.media_content p {
  
    bottom: 18%;

}
/*clayneweditstart*/
    }
    @media only screen and (max-width: 480px){
      .contact-form11.admin_form {
    
    padding: 0;
}
      footer#colophon .gform_wrapper form.gf_simple_horizontal div.gform_body {
    width: auto;
    max-width: 70%;
}
      input#gform_submit_button_5 {
    background: #fff!important;
    color: #333;
    font-family: 'GothamRoundedMedium';
    font-size: 13px;
    border-radius: 6px;
    line-height: 22px;
    height: 37px;
    position: absolute;
    top: 41%;
    width: auto;
    right: 5%;
    padding: 10px;
}
        .amazingslider-swipe-box-2 {
    height: 160px !important;
}
        section.contact_sec .contact-form {
    left: 0%;
}
    }
@media only screen and (max-width: 479px){


  .mt-10 {
   
    font-size: 10px;
}

 .page-template-template-contact .mt-10 {
    
    font-size: 9px;
}

    .contact-form {
    left: 0%;
}


  section.pt-50.pb-50.section_medi .gotham-rounded-medium.media_content p {
  
    bottom: 17%;

}
    .speech-bubble-alignment{width:210px}
    .speech-bubble-alignment:before, .speech-bubble-alignment:after{font-size:205px;line-height:70px}
    .half-top{max-width:80px}
    #programDetailsTab{width:100%;border-bottom:none}
    #programDetailsTab li{width:33.33337%;float: left}
    #programDetailsTab.nav-tabs .nav-link{border-bottom:none}
    #programDetailsContent{margin-left:-30px;margin-right:-30px}
      /*clayneweditstart*/
    section.section_post h3.gotham-rounded-medium {font-size: 14px;}
    /*clayneweditstart*/
}
@media only screen and (max-width: 360px){
    #programDetailsPreTab li a img:hover {
    width: auto;
    height: auto;}
	.tab_day .nav-tabs .nav-link.active:after {
    bottom: -25%;
}
	img.logo1 {
    margin-top: 20%;
    padding-bottom: 3%;
}

.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 0px solid #BFBFBF;
    padding: 3px 3px;
    margin: 2px;
    font-size: 13px;
}
    /*clayneweditstart*/
    ul.carrer_tab_sub li {
    padding-right: 10px;

}
ul.carrer_tab_sub h4.gotham-rounded-book {
    font-size: 14px;
}
/*    ul.carrer_tab h3 {
    font-size: 11px;
    padding-right: 5px;
}*/
.pro_timie h2 {font-size: 22px;}
section.what_parent .section-title {font-size: 30px;}
.mobile_size {
    padding-left: 0;
    padding-right: 0;
}
.addtoany_list.a2a_kit_size_32 a:not(.addtoany_special_service)>span {
    height: 20px !important;
    line-height: 32px;
    width: 20px !important;
    border-radius: 50% !important;
}
.addtoany_shortcode:before {
    content: 'Share:';
    font-size: 14px;
}
.nav-tabs .nav-link {

    font-size: 14px;
}
ul.carrer_tab h3 {
    font-size: 17px;
    padding-right: 4px;
}
     /*clayneweditstart*/
}
@media only screen and (max-width: 767px){
.bannerid0 .btn-banner {
    margin-left:  157% !important;
    margin-top: 187% !important;
    width: 66% !important;
}
.bannerid2 .btn-banner {
    margin-top: 59%;
	
}
.bannerid8 a.btn-banner {margin-top: 30% !important;}
}
