body{margin: 0; font-family: 'GothamRoundedBook';}
form.form p label{display: none}
form.form p { font-family: verdana, 'GothamRoundedBook'; color: white;  font-size: 15px; font-weight: bold; float : none; }
.amp-row{width:100%;}

*,*:after,*:before{box-sizing:border-box}
[class*="amp-col-"]{padding-left:5px;padding-right:0px;float:left;min-height:1px}

	.amp-container{width:100%}
	.amp-col-md-12{width:100%}
	.amp-col-md-11{width:91.66666667%}
	.amp-col-md-10{width:83.33333333%}
	.amp-col-md-9{width:75%}
	.amp-col-md-8{width:66.66666667%}
	.amp-col-md-7{width:58.33333333%}
	.amp-col-md-6{width:50%}
	.amp-col-md-5{width:41.66666667%}
	.amp-col-md-4{width:33.33333333%}
	.amp-col-md-3{width:25%}
	.amp-col-md-2{width:16.66666667%}
	.amp-col-md-1{width:8.33333333%}
	.text-md-left{text-align:left}
	.text-md-center{text-align:center}
	.text-md-right{text-align:right}

.amp-clearfix:after,.amp-clearfix:before,.amp-container-fluid:after,.amp-container-fluid:before,.amp-container:after,.amp-container:before,.amp-row:after,.amp-row:before{display:table;content:" "}
.amp-clearfix:after,.amp-container-fluid:after,.amp-container:after,.amp-row:after{clear:both}
.amp-container{margin:0 auto;padding:0 15px}
.amp-container-fluid{width:100%;margin:0 auto;padding:0 15px}

form.form input.text,select {
    width: 100% !important;
    border: 1px solid #fff;
    font-family: 'GothamRoundedBook', verdana;
    font-size: 14px;
    height: 40px;
    padding: 0px 8px !important;
    border-radius: 8px;
	color : #1d1d1b !important;
}

.submit input{  margin: 0;    background: #1cb6c3;   font-size: 16px;  width: auto;    height: auto;    color: #fff;    border: none; cursor: pointer;    font-family: 'GothamRoundedBook', verdana;    display: inline-block;    transition: color 0.3s; padding : 10px 20px !important; border-radius : 5px;  text-align: center;  }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1d1d1b;
  opacity: 1; /* Firefox */
}
.g-recaptcha {
    padding-left: 15px;
    padding-top: 8px;
}
form.form p.submit {  margin: 4em auto 0 !important; font-family: 'GothamRoundedBook', verdana; text-align: center; }

.float-left { }

.g-recaptcha { overflow: hidden !important;}
#563842_50320pi_563842_50320 { background: #fff; border: 1px solid #fff; border-radius: 5px; float: left; padding: 5px 10% 5px 5px; font-family: 'GothamRoundedBook', Verdana; font-size: 15px; }

form.form textarea.standard { width: 100% !important; }

@media only screen and (max-width: 767px)
{
.amp-col-md-1, .amp-col-md-2,.amp-col-md-3, .amp-col-md-4, .amp-col-md-5, .amp-col-md-6, .amp-col-md-7, .amp-col-md-8, .amp-col-md-9,.amp-col-md-10, .amp-col-md-11, .amp-col-md-12 { width : 100% !important; }
}
