body{margin: 0}
form.form p label{display: none}

.amp-row{width:100%;}

*,*:after,*:before{box-sizing:border-box}
[class*="amp-col-"]{padding-left:5px;padding-right:0px;float:left;min-height:1px}

	.amp-container{width:100%}
	.amp-col-md-12{width:100%}
	.amp-col-md-11{width:91.66666667%}
	.amp-col-md-10{width:83.33333333%}
	.amp-col-md-9{width:75%}
	.amp-col-md-8{width:66.66666667%}
	.amp-col-md-7{width:58.33333333%}
	.amp-col-md-6{width:50%}
	.amp-col-md-5{width:41.66666667%}
	.amp-col-md-4{width:33.33333333%}
	.amp-col-md-3{width:25%}
	.amp-col-md-2{width:16.66666667%}
	.amp-col-md-1{width:8.33333333%}
	.text-md-left{text-align:left}
	.text-md-center{text-align:center}
	.text-md-right{text-align:right}

.amp-clearfix:after,.amp-clearfix:before,.amp-container-fluid:after,.amp-container-fluid:before,.amp-container:after,.amp-container:before,.amp-row:after,.amp-row:before{display:table;content:" "}
.amp-clearfix:after,.amp-container-fluid:after,.amp-container:after,.amp-row:after{clear:both}
.amp-container{;margin:0 auto;padding:0 15px}
.amp-container-fluid{width:100%;margin:0 auto;padding:0 15px}



form.form input.text,select {
    width: 100% !important;
    border: 1px solid #999999;
    font-family: 'GothamRoundedBook';
    font-size: 14px;
    min-height: 40px;
    padding: 0 8px !important;
    border-radius: 8px;
}

.submit input{
                background: url(https://www.lifeonline.co/klay-schools/wp-content/themes/klay-schools/images/submit-btn.png) no-repeat;
                margin: 0;
    
    background-position: left top;
    width: 149px;
    height: 44px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'GothamRoundedBook';
    display: inline-block;
    transition: color 0.3s;
    line-height: 44px;
            }

            .submit input:hover {
    background-position: 0 -44px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1; /* Firefox */
}
.g-recaptcha {
    padding-left: 15px;
    padding-top: 8px;
}
form.form p.submit {
    margin: 0 auto !important;

    padding-left: 30% !important;
   
    padding-top: 5% !important;
}

.g-recaptcha {

    overflow: hidden !important;
}