/* @font-face{    font-family: 'GothamRoundedBook';    src: url('../fonts/GothamRoundedBook.eot');    src: url('../fonts/GothamRoundedBook.eot') format('embedded-opentype'),         url('../fonts/GothamRoundedBook.woff2') format('woff2'),         url('../fonts/GothamRoundedBook.woff') format('woff'),         url('../fonts/GothamRoundedBook.ttf') format('truetype'),         url('../fonts/GothamRoundedBook.svg#GothamRoundedBook') format('svg');} */body{margin: 0; font-family: 'GothamRoundedBook';}
form.form p label{display: none;}
form.form p { font-family: verdana, 'GothamRoundedBook'; color: black;  font-size: 15px; font-weight: bold; }

.page-id-65840 form.form p.no-label, form.form p.email-pref {
    margin: .2em .5em .6em 50px  !important;
    padding: 0  !important;
}
.page-id-65840 .red-background, form.form p.errors {
    background: #8b0000;
    color: #fff;
    padding-left: .5em;
    margin-bottom: 1px !important;
}

.sidebar_blog form.form p{color:#000 !important;}

.amp-row{width:100%;}

*,*:after,*:before{box-sizing:border-box}
[class*="amp-col-"]{padding-left:5px;padding-right:0px;float:left;min-height:1px}

	.amp-container{width:100%}
	.amp-col-md-12{width:100%}
	.amp-col-md-11{width:91.66666667%}
	.amp-col-md-10{width:83.33333333%}
	.amp-col-md-9{width:75%}
	.amp-col-md-8{width:66.66666667%}
	.amp-col-md-7{width:58.33333333%}
	.amp-col-md-6{width:50%}
	.amp-col-md-5{width:41.66666667%}
	.amp-col-md-4{width:33.33333333%}
	.amp-col-md-3{width:25%}
	.amp-col-md-2{width:16.66666667%}
	.amp-col-md-1{width:8.33333333%}
	.text-md-left{text-align:left}
	.text-md-center{text-align:center}
	.text-md-right{text-align:right}

.amp-clearfix:after,.amp-clearfix:before,.amp-container-fluid:after,.amp-container-fluid:before,.amp-container:after,.amp-container:before,.amp-row:after,.amp-row:before{display:table;content:" "}
.amp-clearfix:after,.amp-container-fluid:after,.amp-container:after,.amp-row:after{clear:both}
.amp-container{margin:0 auto;padding:0 15px}
.amp-container-fluid{width:100%;margin:0 auto;padding:0 15px}


.summercamp_form { }
.summercamp_form .submit { }
.summercamp_form .submit input { }

form.form input.text,select {
    width: 100% !important;
    border: 1px solid #999999;
    font-family: 'GothamRoundedBook', verdana;
    font-size: 14px;
    min-height: 40px;
    padding: 0 8px !important;
    border-radius: 8px;
}select { padding : 10px 5px !important; }

.submit input{
                background: url(https://www.klayschools.com/wp-content/uploads/2019/03/submit-btn.png) no-repeat;
                margin: 0;
    
    background-position: left top;
    width: 149px;
    height: 44px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'GothamRoundedBook', verdana;
    display: inline-block;
    transition: color 0.3s;
    line-height: 44px;font-size:18px;
            }

            .submit input:hover {
    background-position: 0 -44px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1; /* Firefox */
}
.g-recaptcha {
    padding-left: 15px;
    padding-top: 8px;
}
form.form p.submit {
    margin: 0 auto !important;

    padding-left: 30% !important;
   
    padding-top: 5% !important;font-family: 'GothamRoundedBook', verdana;
}

.g-recaptcha {

    overflow: hidden !important;
}#563842_50320pi_563842_50320 { background: #fff; border: 1px solid #fff; border-radius: 5px; float: left; padding: 5px 10% 5px 5px; font-family: 'GothamRoundedBook', Verdana; font-size: 15px; }

form.form textarea.standard {
   
    width: 100% !important;
    
}
label.field-label {
    display: none !important;
}
form.form p.submit input{padding: 2px 5px !important;}

textarea#563842_53054pi_563842_53054{width: 98% !important;margin: 0 2% !important;
    border-radius: 6px !important;}